#container-kelas {
    /* size */
    width: 100%;
    /* layout */
    justify-content: normal;
    gap: 15px;
    box-sizing: border-box;
    padding: 0 0 20px 0;
}

.head-content {
    /* size */
    width: 100%;
    height: max-content;
    /* layout */
    gap: 0;
}

.head-content img {
    /* size */
    width: 100%;
    height: 425px;
    /* style */
    object-fit: cover;
}

.head-text {
    /* size */
    width: max-content;
    min-width: 275px;
    height: 70px;
    /* layout */
    transform: translateY(-50%);
    gap: 10px;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 20px;
    /* style */
    border-radius: 6px;
    background-color: #52B788;
    /* addition */
    transition: 0.35s;
}

.head-text h1, .content-description h2, .title-teacher h2, .content-student h2 {
    /* size */
    margin: 0;
    /* text style */
    font-style: normal;
    text-align: center;
    font-weight: 600;
}

.head-text h1 {
    /* text style */
    font-size: 30px;
    color: #FBFEFD;
}

.detail-content {
    /* size */
    width: 100%;
    height: max-content;
    /* layout */
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    gap: 35px;
    padding: 0 75px;
}

.content-group {
    /* size */
    width: 100%;
    height: max-content;
    /* layout */
    align-items: flex-start;
    justify-content: normal;
    gap: 20px;
}

.content-description, .content-student, .content-submission {
    /* size */
    width: 100%;
    height: max-content;
    /* layout */
    align-items: flex-start;
    justify-content: normal;
    gap: 5px;
}

.content-description h2, .title-teacher h2, .content-student h2, .content-submission h2 {
    /* text style */
    font-size: 28px;
    font-weight: 600;
    color: #212121;
}

.content-description p {
    /* size */
    width: 100%;
    height: max-content;
    margin: 0;
    /* text style */
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    color: #212121;
}

.title-teacher {
    /* size */
    width: 100%;
    max-width: 325px;
    /* layout */
    align-items: flex-start;
    justify-content: normal;
    gap: 5px;
}

.content-teacher {
    /* size */
    width: 100%;
    /* layout */
    justify-content: normal;
    box-sizing: border-box;
    padding-bottom: 15px;
    gap: 10px;
    /* style */
    border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.content-teacher h3, .content-teacher p {
    /* size */
    margin: 0;
    /* text style */
    font-style: normal;
    text-align: center;
    font-size: 20px;
    color: #212121;
}

.content-teacher h3 {
    /* text style */
    font-weight: 600;
}

.content-teacher p {
    /* text style */
    font-weight: 400;
}

.content-teacher img {
    /* size */
    width: 100%;
    height: 425px;
    /* style */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.submission-list {
    /* size */
    width: 100%;
    height: max-content;
    /* layout */
    gap: 0;
    /* style */
    border-radius: 5px;
    background: rgba(224, 87, 128, 0.15);
    border: 1px solid #E05780;
}

.submission-detail {
    /* size */
    width: 100%;
    height: max-content;
    /* layout */
    justify-content: normal;
    box-sizing: border-box;
    padding: 0 20px;
}

.submission-detail h3, .submission-detail p {
    /* size */
    margin: 0;
    /* layout */
    box-sizing: border-box;
    padding: 10px 0;
    /* text style */
    font-style: normal;
    text-align: center;
    font-size: 18px;
    color: #212121;
}

.submission-detail h3 {
    /* size */
    width: 195px;
    /* text style */
    text-align: left;
    font-weight: 600;
}

.submission-detail p {
    /* text style */
    font-weight: 400;
    /* layout */
    box-sizing: border-box;
    padding-left: 10px;
    /* style */
    border-left: 1px solid #E05780;
}

.submission-button {
    /* size */
    width: 100%;
    height: max-content;
    /* layout */
    margin-top: 15px;
    justify-content: center;
    gap: 10px;
}

.submission-button button, .submission-button a {
    /* size */
    width: max-content;
    height: max-content;
    /* design */
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 5px;
    /* text */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    /* addition */
    cursor: pointer;
    transition: 0.35s;
}

.submit-success {
    /* design */
    color: #FBFEFD;
    background: rgba(82, 183, 136, 0.75);
    border: 1px solid rgba(82, 183, 136, 0.75);
}

.submit-success:hover {
    /* design */
    background: rgba(82, 183, 136, 1);
    border-color: rgba(82, 183, 136, 1);
}

.submit-edit {
    /* design */
    color: rgba(15, 36, 26, 0.75);
    background: rgba(249, 220, 92, 0.75);
    border: 1px solid rgba(249, 220, 92, 0.75);
}

.submit-edit:hover {
    /* design */
    color: rgba(15, 36, 26, 1);
    background: rgba(249, 220, 92, 1);
    border-color: rgba(249, 220, 92, 1);
}

.submit-danger {
    /* design */
    color: #FBFEFD;
    background: rgba(224, 87, 128, 0.75);
    border: 1px solid rgba(224, 87, 128, 0.75);
}

.submit-danger:hover {
    /* design */
    background: rgba(224, 87, 128, 1);
    border-color: rgba(224, 87, 128, 1);
}

.submission-button button:hover {
    /* design */
    box-shadow: 0px 6px 10px rgba(33, 33, 33, 0.25);
}

.small-btn-submit {
    /* size */
    max-width: 275px;
}

.medium-btn-submit {
    /* size */
    max-width: 400px;
}

@media only screen and (max-width: 1024px) {
    .head-text {
        /* size */
        height: max-content;
        min-width: auto;
        max-width: 275px;
        /* layout */
        margin-bottom: -35px;
    }

    .head-content .flex-row {
        /* layout */
        flex-direction: column!important;
    }

    .head-text h2 {
        /* text style */
        width: 100%;
    }

    .detail-content {
        /* layout */
        padding: 0 15px;
        flex-wrap: wrap-reverse;
    }
}